.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 210px;
  margin-bottom: 50px;
}

.containerBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1300px;
}

.containerBlockTop {
  display: flex;
  align-items: center;
  width: 100%;
  height: 458px;
  margin-top: 44px;
  border-radius: 20px;
  overflow: hidden;
}

.containerBlockTopLeft {
  width: 40%;
  height: 100%;
}

.containerBlockTopLeft img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containerBlockTopRight {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  position: relative;
}

.containerBlockTopRight1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(0, 112, 49, 1) 0%,
    rgba(0, 112, 49, 0.8) 35%,
    rgba(0, 112, 49, 0.6) 70%,
    rgba(0, 112, 49, 0.4) 100%
  );
}

.containerBlockTopRightTop {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 24px;
  padding: 20px 44px;
  z-index: 1;
}

.bg {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  object-fit: cover;
}

.containerBlockTopRightTop img {
  width: 116px;
  height: 116px;
  object-fit: cover;
  z-index: 1;
}

.containerBlockTopRightTopTitle {
  height: 116px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  font-size: 41px;
  font-weight: 700;
  color: #fff;
}

.containerBlockTopRightBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  padding: 28px 31px;
  color: #fff;
}

.containerBlockTopRightBottomEl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.containerBlockTopRightBottomEl span:nth-of-type(1) {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
}

.containerBlockTopRightBottomEl span:nth-of-type(2) {
  font-size: 96px;
  font-weight: 600;
  line-height: 100%;
}

/* ===== КАЛЕНДАРЬ ===== */
.containerCalendar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  height: 330px;
  margin-top: 24px;
  border-radius: 20px;
  border: none;
  padding: 35px 25px;
  gap: 22px;
}

.calLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: 235px;
}

.calTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 12px;
  font-size: 16px;
  font-weight: 500;
  padding: 13px 0;
  width: 100%;
  max-width: 235px;
  border-bottom: 1px solid #007031;
}

.calTitle img {
  width: 16px;
  height: 16px;
  object-fit: cover;
}

.calButtons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 210px;
}

.calButtons button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  background-color: inherit;
  border: none;
  border-radius: 10px;
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.calButtons button:hover {
  background-color: #007031;
  color: #fff;
}

.calActiveTab {
  background-color: #007031 !important;
  color: #fff;
  border-radius: 10px;
}

.calControls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  height: 60px;
  max-width: 140px !important;
  margin-top: 10px;
}

.calControls span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.calControls span img {
  width: 61px;
  height: 61px;
}

.calRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.calSlider {
  display: flex;
  gap: 22px;
  transition: transform 0.5s ease-in-out; /* плавный сдвиг */
  width: 100%;
  height: 100%;
}

.matchCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 32%;
  height: 100%;
  border: 1px solid #c5c6c6;
  border-radius: 15px;
  padding: 15px 10px;
  flex: 0 0 calc(100% / 3 - 20px); /* 3 карточки на экране */
  transition: all 0.3s ease-in-out;
}

.matchDate {
  font-size: 16px;
  font-weight: 500;
}

.matchStadium {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: #b9b9b9;
  gap: 12px;
  height: 18px;
}

.matchStadium img {
  height: 18px;
  object-fit: cover;
}

.matchScore {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 41px;
  font-weight: 700;
  gap: 18px;
}

.matchScore span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  white-space: nowrap; /* запрет переноса */
}

.matchScore img {
  width: 80px;
  height: 80px;
  border: 1px solid #c5c6c6;
  border-radius: 5px;
}

.matchLeague {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
}

.matchRound {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: #c5c6c6;
}

/* точки для мобилы */
.dots {
  display: none;
}

@media (max-width: 768px) {
  .containerCalendar {
    flex-direction: column;
    background-color: inherit;
    height: auto;
    border-radius: 0;
    padding: 23px 25px;
  }

  .calLeft {
    max-width: 1000px;
    background-color: #fff;
    border-radius: 15px;
    padding: 21px 8px;
    height: 150px;
    width: 100%;
  }

  .calTitle {
    max-width: 100%;
  }

  .calButtons {
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 100%;
    height: 100%;
    max-width: 710px;
    padding: 0 15px;
  }

  .calControls {
    display: none;
  }

  .calRight {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .calSlider {
    gap: 0;
  }

  .matchCard {
    width: 100%;
    height: 250px;
    border: none;
    background-color: #fff;
    border-radius: 15px;
    margin: 0 10px;
    padding: 15px 10px;
    flex: 0 0 calc(100% - 20px);
  }

  .dots {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    z-index: 111;
  }

  .dot {
    width: 8px;
    height: 8px;
    background: #c5c5c5b2;
    border-radius: 50%;
    transition: background 0.3s ease;
  }

  .activeDot {
    width: 11px;
    height: 11px;
    background: #fff;
  }
}
/* ===== /КАЛЕНДАРЬ ===== */

@media (max-width: 768px) {
  .container {
    margin-top: 110px;
  }

  .containerBlock {
    padding: 0 20px;
  }

  .containerBlockTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 444px;
    margin-top: 44px;
    border-radius: 20px;
    overflow: hidden;
  }

  .containerBlockTopLeft {
    width: 100%;
    height: 264px;
  }

  .containerBlockTopLeft img {
    width: 100%;
    height: 264px;
    object-fit: cover;
  }

  .containerBlockTopRight {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
  }

  .containerBlockTopRight1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #007031;
  }

  .containerBlockTopRightTop {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 9px;
    padding: 20px 15px;
    z-index: 1;
  }

  .bg {
    display: none;
  }

  .containerBlockTopRightTop img {
    width: 56px;
    height: 56px;
    object-fit: cover;
    z-index: 1;
  }

  .containerBlockTopRightTopTitle {
    height: 58px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
  }

  .containerBlockTopRightBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    padding: 20px 10px;
    color: #fff;
  }

  .containerBlockTopRightBottomEl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }

  .containerBlockTopRightBottomEl span:nth-of-type(1) {
    font-size: 10px;
    font-weight: 400;
    line-height: 100%;
  }

  .containerBlockTopRightBottomEl span:nth-of-type(2) {
    font-size: 46px;
    font-weight: 600;
    line-height: 100%;
  }
}

/* ===== /Команда ===== */

.containerTeam {
  width: 100%;
  margin-top: 68px;
}

.containerTeamTitle {
  font-size: 32px;
  font-weight: 700;
}

.containerTeamFilter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 42px;
  gap: 3px;
}

.containerTeamFilter span {
  font-size: 16px;
  font-weight: 700;
  padding: 18px 30px;
  border-radius: 10px;
  border: 1px solid #868686;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.tabActive,
.containerTeamFilter span:hover {
  color: #fff;
  background-color: #007031;
  border: 1px solid #007031;
}

.containerTeamComand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 42px;
  gap: 40px 10px;
}

.playerCard {
  display: flex;
  flex-direction: column;
  width: 23%;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.playerCard img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  
}

.playerInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 130px;
  background-color: #007031;
  margin-top: -5px;
  color: #fff;
  padding: 10px 15px;
}

.playerPos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 0.5px solid #fff;
  margin-bottom: 10px;
}

.playerPos span:nth-of-type(1) {
  font-size: 16px;
  font-weight: 700;
}

.playerPos span:nth-of-type(2) {
  font-size: 24px;
  font-weight: 700;
}

.playerName {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  background-color: #007031;
}

/* ===== /Команда ===== */
